
@import 'basics/base.css';
@import 'basics/helpers.css';
@import 'basics/layout.css';




.gallery-section{
    text-align: center; 
}

.gallery-img{
    width: 200px;
    height: auto;
    background-repeat: 5px;
}







