.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}
.grid.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.flex.justify-center {
    justify-content: center;
}

.place-center{
    place-self: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}
.flex.flex-column{
    flex-direction: column;
}

.hidden {
    display: none;
}

.Lato {
    font-family: Lato;
}

.poppins-med {
    font-family: Poppins-Medium;
}
.poppins-ita {
    font-family: Poppins-Italic;
}