.editor-section {
    grid-auto-flow: column;
    gap: 2em;
}

.editor-container {
    border-radius: 2em;
    background-color: #373b41;
    height: 80%;
    align-self: center;
}

.editor-input-container {
    place-self: end center;
}


.editor-input-container .add-txt-btn {
    height: 3.5em;
    font-family: Poppins-Medium;
    border-radius: 1.2em;
}

.txt-input {
    height: 3.5em;
    width: 25em;
    border-radius: 3em;
    font-family: Poppins-Medium;
    font-size: 1em;
}

.line-controls {
    margin-top: .5em;
    place-self: center;
    gap: .5em;
}

.line-controls button:hover {
    cursor: pointer;
    opacity: 0.7
}

.line-controls .btn-editor {
    border-radius: .5em;
    height: 4em;
    width: 3.5em;
}

.line-controls .btn-switch-inputs {
    background-color: #66c4dc;
}

.line-controls .btn-add-input {
    background-color: #33be6d;
}

.line-controls .btn-delete-line {
    background-color: #f05036;
}

.font-controls {
    grid-template-columns: repeat(5, 1fr);
    gap: .5em;
    background-color: #19a59f;
    padding: 1em;
    margin: 0 2em;
    border-radius: 1em;
    box-sizing: border-box;
}

.font-controls .btn-font {
    border-radius: .5em;
    border: none;
    padding: 1.2em .2em;
    font-size: 1em;
    cursor: pointer;
}

.font-controls .font-select {
    grid-column: span 3;
    height: 4em;
}

.font-controls .btn-font:hover {
    background-color: #acb0b4;
}

.stroke-color-def,
.fill-color-def {
    opacity: 0;
}

.fa-fill-drip,
.fa-brush {
    font-size: 1.5em;
    place-self: center;
}

.font-controls .fill-btn,
.stroke-btn {
    height: 4em;
}

.editor-actions-container {
    gap: 1em;
    margin: 1em;
    font-family: Lato;
}

.editor-actions-container a {
    margin-inline: .5em;
    padding: .5em 1.5em;
    border-radius: 1em;
}

.editor-actions-container .btn-save {
    background-color: #63a8e9;
    color: white;
}

.editor-actions-container .btn-share {
    background-color: #7eceb0;
    color: white;
}

.editor-actions-container .btn-download {
    background-color: #b863e9;
    color: white;
}