.gallery-section {
    max-width: 70vw;
    place-self: center;
    background-color: #373b41;
    border-radius: 1em;
    padding-bottom: 1em;
}

.gallery-container {
    gap: .5em;
}

.gallery-section .gallery-title {
    padding-top: 3em;
}

.gallery-container img {
    border-radius: .7em;
}