

@font-face {
    font-family: Lato;
    src: url(/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Italic;
    src: url(/fonts/poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(/fonts/poppins/Poppins-Light.ttf);

}

@font-face {
    font-family: Lato-black;
    src: url(/fonts/Lato-Black.ttf);
}